{% block content %}
  <div class="card mt-3" style="width: 18rem;">
    <div class="card-header">
      <h3> Recent Blogs </h3>
    </div>
  {% if post_list %}
    <ul class="list-group list-group-flush">
      {% for post in post_list|slice:":5" %}
        <a href="{% url 'blog:detail' post.id %}" class="list-group-item list-group-item-action">
          {{post.title}}<br><small>{{post.pub_date}}</small>
        </a>
      {% endfor %}
    </ul>
  {% else %}
    <p>No blogs available</p>
  {% endif %}
  </div>
{% endblock %}
